	{% for data in dataSic %}
		<tr>
			<td>SIC BUS TRA</td>
			<td>{{ data.CONTRAT_VAL }}</td>
			<td>{{ data.PROFIL_VAL }}</td>
			<td>{{ data.SERIE_VAL }}</td>
			<td>{{ data.ZONE_VAL }}</td>
			<td>{{ data.DATE_VAL }}</td>
			<td>{{ data.CODE_REFUS_VAL }}</td>
			<td>{{ data.EXPLOITANT_ACCEPT_VAL }}</td>
			<td>{{ data.LIGNE_REAFFECTEE_VAL }}</td>
			<td>{{ data.SENS_CIRCULATION_VAL }}</td>
			<td></td>
			<td></td>
		</tr>
    {% endfor %}